.u-section-1 .u-sheet-1 {
  min-height: 482px;
}

.u-section-1 .u-social-icons-1 {
  white-space: nowrap;
  height: 260px;
  min-height: 16px;
  width: 260px;
  min-width: 16px;
  margin: 60px auto 0;
}

.u-section-1 .u-icon-1 {
  height: 100%;
}

.u-section-1 .u-text-1 {
  margin: 30px 188px 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-left: 88px;
    margin-right: 88px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}