.u-section-1 .u-sheet-1 {
  min-height: 55px;
}.u-section-2 .u-sheet-1 {
  min-height: 550px;
}

.u-section-2 .u-text-1 {
  margin: 45px 0 44px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 728px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 60px;
    margin-bottom: 60px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 55px;
}